body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(148, 155, 169);
}


ul {
    list-style-type: none;
    display: flex;
    height: fit-content;
    margin: 0;
    padding: 0;
}

li {
    font-size: large;
    font-weight: bold;
    background-color: rgb(54, 91, 133);
    border: 1px solid;
    display: flex;
    width: 160px;
    height: 80px;
}

li a {
    text-decoration: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

li a:hover {
    background-color: rgb(34, 190, 239);
}

.navbar {
    display: flex;
    position: fixed;
    z-index: 2;
}

#nombre-albums {
    position: fixed;
    right: 0;
    font-size: larger;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    background-color: rgb(54, 91, 133);
    width: 160px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#boutons {
    position: fixed;
    right: 160px;
    font-size: larger;
    font-weight: bold;
    color: white;
    border: 1px solid black;
    background-color: rgb(54, 91, 133);
    width: 160px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.display-filter {
    display: flex;
    color: white;
    width: fit-content;
    justify-content: center;
    width: 30px;
}

.display-filter:hover {
    cursor: pointer;
}

.fa-magnifying-glass {
    font-size: 30px;
    transition: font-size 0.5s;
}

.fa-magnifying-glass:hover {
    font-size: 50px;
}

.reset-filter {
    display: flex;
    color: white;
    width: fit-content;
    justify-content: center;
    width: 30px;
}

.reset-filter:hover {
    cursor: pointer;
}

.fa-rotate {
    font-size: 30px;
}

.fa-rotate:hover {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {}

    100% {
        transform: rotate(360deg);
    }
}

.display-ajout {
    display: flex;
    justify-content: center;
    color: white;
    width: fit-content;
    width: 30px;
}

.display-ajout:hover {
    cursor: pointer;
}

.fa-plus {
    font-size: 30px;
    transition: font-size 0.5s;
}

.fa-plus:hover {
    font-size: 50px;
}

.filtre-et-ajout {
    display: flex;
    gap: 20px;
    position: fixed;
    right: 400px;
    top: 5px;
}

.filtre {
    opacity: 0;
    display: none;
}

.filtre-show {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 3px dashed rgb(54, 91, 133);
    padding: 5px;
    opacity: 1;
    animation: fadeInCase 1s;
}

@keyframes fadeInCase {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.form {
    display: flex;
    flex-direction: column;
    color: white;
    gap: 5px;
}

.bouton-filtre {
    display: flex;
    justify-content: center;
}

.bouton-filtre-album {
    background-color: rgb(54, 91, 133);
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    transition: border-radius 0.5s, width 0.5s;
}

.bouton-filtre-album:hover {
    border-radius: 30px;
    width: 150px;
}

.bouton-ajouter {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
}

.bouton-ajout-album {
    background-color: rgb(54, 91, 133);
    color: white;
    border: none;
    height: 30px;
    width: 100px;
    transition: border-radius 0.5s, width 0.5s;
}

.bouton-ajout-album:hover {
    border-radius: 30px;
    width: 150px;
}

.form-ajout-album {
    opacity: 0;
    display: none;
}

.form-ajout-album-show {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
    padding: 5px;
    opacity: 1;
    animation: fadeIn 1s;
    border: 3px dashed rgb(54, 91, 133);
}

#ajout-album {
    display: flex;
    flex-direction: column;
    gap: 5px;
    color: white;
}

.case-album {
    text-decoration: none;
    color: black;
    height: 350px;
    border-radius: 0px 0px 10px 10px;
    width: 300px;
    background-color: rgb(54, 91, 133);
    position: relative;
}

.image-album {
    width: 100%;
    height: 80%;
}

.case-album:hover .image-album {
    width: 100%;
    height: 60%;
    animation: shrink 1s;
}

.case-album:hover .titre-album {
    font-size: smaller;
}

@keyframes shrink {
    0% {
        height: 80%;
    }

    100% {
        height: 60%;
    }
}

.case-album:hover .ad-info {
    display: flex;
    flex-direction: column;
    font-size: smaller;
    align-items: center;
    opacity: 1;
    animation: fadeIn 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.case-album:hover .fa-star {
    width: 18px;
}

.division-note {
    display: flex;
    gap: 20px;
    position: relative;
}

.numero-note {
    display: flex;
    align-items: center;
    font-size: 30px;
    position: absolute;
    z-index: 1;
    color: gold;
    background-color: black;
    border-radius: 50%;
    padding: 10px;
    width: 40px;
    justify-content: center;
    font-weight: bold;
}

#zone-albums {
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    box-shadow: 0px 0px 6px 0px;
    padding: 10px;
    background-color: rgb(115, 136, 156);
}

#albums {
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: absolute;
    left: 20px;
    top: 300px;
}

.texte-album {
    text-align: center;
    color: white;
}

.titre-album {
    font-size: large;
    font-weight: bold;
    height: 30px;
}

.ad-info {
    display: none;
    opacity: 0;
}

.star-container {
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}

.fa-star {
    font-size: larger;
    width: 23px;
    color: gold;
    display: flex;
    justify-content: center;
}

.score-album {
    font-weight: bold;
    color: gold;
    position: absolute;
    top: 10px;
    left: 5px;
    border-radius: 50%;
    padding: 3px;
    background-color: black;
    width: 20px;
    text-align: center;
    display: none;
}

.format-album {
    font-weight: bold;
    color: gold;
    position: absolute;
    top: 10px;
    right: 5px;
    padding: 5px;
    background-color: black;
}

input[type="range"] {
    width: 400px;
    margin-left: 5px;
}